.App {
  position: relative;
  background: #FFFFFF;
  width: 1437px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-list::-webkit-scrollbar {
  height: 0;
}

/* 
.container-fluid {
  width: 1292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */